#email {
    margin-top: 100px;
    margin-left: 520px;
    padding: 10px;
    border-radius: 2px;
    border: solid rgb(177, 174, 174) 1px;
}

#password {
    padding: 10px;
    border-radius: 2px;
    border: solid rgb(177, 174, 174) 1px;
}

#button {
    margin-top: 20px;
    margin-left: 650px;
    color: white;
    background-color: green;
    border: solid green 1px;
    border-radius: 5px;
    padding: 10px;
    width: 70px;

    &:hover {
        cursor: pointer;
        background-color: white;
        border: solid green 1px;
        color: green;
    }
}