%default-input-style {
    width: 35%;
    max-width: 50%;
    margin-left: 10px;
    margin-top: 1.5%;
    height: 25px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 2px solid rgb(78, 78, 211);
    padding-left: 1%;
    font-size: 14pt
}

%default-answer {
    font-size: 14pt;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.attempt-quiz-main > :last-child {
    margin-bottom: 10%;
}

body {
    counter-reset: question-counter;
}

.attempt-quiz-main {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;

    .question-card {
        padding-bottom: 15px;
        padding-left: 10px;
        border-bottom: 1px solid rgb(150, 166, 255);
        border-left: 1px solid rgb(150, 166, 255);
        margin-bottom: 8%;

        .question {
            font-size: 18pt;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(150, 166, 255);

            &::before {
                counter-increment: question-counter;
                content: "Q" counter(question-counter) ": "
            }
        }

        .answers-list {
            counter-reset: answer-counter;

            .answer {
                cursor: pointer;
                @extend %default-answer;
                border: 1px solid #f1f1f1;
                transition: background-color 0.1s;

                &:hover {
                    background-color: #a9c4f5;
                }

                &::before {
                    counter-increment: answer-counter;
                    content: counter(answer-counter) ") "
                }
            }

            .answer-selected {
                @extend %default-answer;
                border: 1px solid #f1f1f1;
                background-color: rgb(29, 168, 29);
                color: white;

                &::before {
                    counter-increment: answer-counter;
                    content: counter(answer-counter) ") "
                }
            }
        }
    }
}

.submit-quiz {
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 12pt;
    float: right;
    width: 130px;
    height: 40px;
    color: #1DB500;
    background-color: white;
    border: 1px solid #1DB500;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        color: white;
        background-color: #1DB500;
    }
}

.back-to-dash-button {
    cursor: pointer;
    position: fixed;
    font-size: 14pt;
    color: rgb(41, 108, 235);
    left: 25px;
    bottom: 3.5%;
    width: 5%;
    height: 40px;
    // border-radius: 4px;
    border: 1px solid rgb(41, 108, 235);
    transition: background-color 0.1s, color 0.1s;

    &:hover {
        background-color: rgb(41, 108, 235);
        color: white;
    }
}