%menu-deselected {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: auto;
    height: 33px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.1s, color 0.1s;
}

%menu-selected {
    cursor: pointer;
    margin-top: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 33px;   
    background-color: #3340FF;
    color: white;
    transition: background-color 0.1s, color 0.1s;
}

%menu-text {
    text-align: center;
    font-size: 14pt;
    margin-top: 4px;
}

body {
    background-color: #f1f1f1;
}

.logo-beside-title {
    background-image: url('images/logo2.png');
    background-size: 80%;
    background-repeat: no-repeat;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-left: 12%;
    margin-top: 1.5%;
}

.dashboard-title {
    font-size: 24pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: rgb(41, 108, 235);
    color: white;
    text-align: center;
}

.menu {
    width: 100%;
    height: 40px;
    display: inline-grid;
    grid-template-columns: 39% 19% 19%;
    column-gap: 1%;
    background-color: white;

    .quiz-menu {
        @extend %menu-deselected;
        margin-left: 55%;

        .quiz-menu-text {
            @extend %menu-text;
        }
    }

    .quiz-menu--selected {
        @extend %menu-selected;
        margin-left: 55%;

        .quiz-menu-text {
            @extend %menu-text;
        }
    }

    .groups-menu {
        @extend %menu-deselected;

        .groups-menu-text {
            @extend %menu-text;
        }
    }

    .groups-menu--selected {
        @extend %menu-selected;

        .groups-menu-text {
            @extend %menu-text;
        }
    }

    .messages-menu {
        @extend %menu-deselected;

        .messages-menu-text {
            @extend %menu-text;
        }
    }

    .messages-menu--selected {
        @extend %menu-selected;

        .messages-menu-text {
            @extend %menu-text;
        }
    }

    .quiz-menu:hover, .groups-menu:hover, .messages-menu:hover {
        cursor: pointer;
        background-color: rgb(211, 212, 233);
    }
}

.logout {
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 5%;
    width: 9%;
    height: 40px;
    border-radius: 4px;
    display: inline-grid;
    grid-template-columns: 5% 95%;
    transition: background-image 0.1s, color 0.1s, background-color 0.1s;

    .logout-image {
        background-image: url('images/onoff.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 5px;
        margin-left: 5px;
        width: 30px;
        height: 30px;
    }

    .logout-text {
        color: #E34141;
        font-size: 15pt;
        text-align: center;
        margin-top: 5px;
        margin-left: 15%;
    }
}

.logout:hover {
    background-color: #E34141;
}

.logout:hover .logout-image {
    background-image: url('images/onoff-white.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.logout:hover .logout-text {
    color: white;
}