%card-buttons {
    height: 40px;
    max-width: 135px;
    max-height: 40px;
    margin-right: 2%;
    background-color: white;
    border-radius: 3px;
    font-size: 14pt;
    transition: background-color 0.1s, color 0.1s;
}

.groups > :first-child {
    margin-top: 0 !important;
}

html, body {
    height: 100%;
}

.groups {
    width: 75%;
    height: 40vh;
    max-height: 70vh;
    margin-top: 1%;
    margin-left: 12%;
    color: white;
    overflow-y: auto;
    animation: fadeIn 0.2s;

    .group-card-info {
        top: 0;
        width: 99%;
        height: 80px;
        margin-top: 10px;
        background-color: rgb(79, 120, 196);
        border: 1px solid rgb(79, 120, 196);
        font-size: 15pt;

        .group-name {
            width: 25%;
            margin-top: 8px;
            margin-left: 1%;
            display: inline-block;
        }

        .group-desc {
            margin-top: -1%;
            font-size: 12pt;
            margin-left: 1%;
            max-width: 60%;
        }

        
        .admin-controls {
            margin-top: 2%;
            margin-right: 0;
            height: 40px;
            float: right;
            width: 25%;

            .invite-user {
                @extend %card-buttons;
                color: orange;
                border: 1px solid orange;

                &:hover {
                    cursor: pointer;
                    border: 1px solid white;
                    background-color: orange;
                    color: white;
                }
            }

            .create-quiz {
                @extend %card-buttons;
                color: #1DB500;
                border: 1px solid #1DB500;

                &:hover {
                    cursor: pointer;
                    border: 1px solid white;
                    background-color: #1DB500;
                    color: white;
                }
            }
        }
    }

    .no-info-card {
        top: 0;
        width: 99%;
        height: 45px;
        margin-top: 10px;
        background-color: rgb(228, 136, 15);
        border: 1px solid rgb(228, 136, 15);
        font-size: 18pt;
    
        .info-message {
            margin-top: 5px;
            color: white;
            text-align: center;
        }
    }
}

.groups-text {
    margin-left: 12%;
    font-size: 20pt;
    margin-bottom: 5px;
}

.create-group-button {
    float: right;
    margin-top: -3%;
    margin-right: 13.6%;
    height: 40px;
    color: white;
    background-color: #1DB500;
    border: 1px solid #1DB500;
    border-radius: 3px;
    font-size: 14pt;
    transition: background-color 0.1s, color 0.1s;

    &:hover {
        cursor: pointer;
        border: 1px solid #1DB500;
        background-color: white;
        color: #1DB500;
    }
}

.search-groups-init-button {
    margin-top: 3%;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    color: rgb(41, 108, 235);
    border: 2px solid rgb(41, 108, 235);
    width: 180px;
    height: 50px;
    font-size: 14pt;
    margin-left: 43%;
    transition: 0.1s background-color, 0.1s color;

    &:hover {
        background-color: rgb(41, 108, 235);
        color: white;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}