
.quizzes {
    width: 65%;
    height: 40%;
    // margin-top: 3%;
    margin-left: 18%;
    color: white;
    max-height: 40%;
    // overflow-y: scroll;
    // overflow: hidden;

    .quiz-card-info {
        top: 0;
        width: 99%;
        height: 45px;
        margin-top: 10px;
        background-color: #1DB500;
        border: 1px solid #1DB500;
        font-size: 15pt;

        .quiz-name {
            width: 25%;
            display: inline-block;
            padding-left: 7px;
            margin-top: 8px;
            vertical-align: top;
        }

        .quiz-group {
            margin-left: 15%;
            text-align: center;
            display: inline-block;
            margin-top: 8px;
            vertical-align: top;
        }

        .quiz-available-to {
            padding-right: 7px;
            float: right;
            margin-top: 8px;
            vertical-align: top;
        }

        &:hover {
            cursor: pointer;
            color: #1DB500;
            background-color: white;
        }
    }
}

.upcoming-quizzes-text {
    margin-left: 18%;
    font-size: 20pt;
    margin-bottom: 5px;
}